{% assign socials = site.data.socials %}

{% if socials.email %}
  <a href="mailto:{{ socials.email }}" title="Email" aria-label="Email">
    <i class="fa-solid fa-envelope"></i>
  </a>
{% endif %}
{% if socials.github_username %}
  <a href="https://github.com/{{ socials.github_username }}" title="GitHub" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-github"></i>
  </a>
{% endif %}
{% if socials.linkedin_username %}
  <a
    href="https://www.linkedin.com/in/{{ socials.linkedin_username | uri_escape }}"
    title="LinkedIn"
    aria-label="LinkedIn"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
{% endif %}
{% if socials.orcid_id %}
  <a href="{{ socials.orcid_id }}" title="ORCID" aria-label="ORCID" target="_blank" rel="noopener noreferrer">
    <i class="ai ai-orcid"></i>
  </a>
{% endif %}
{% if socials.cv_pdf %}
  <a href="{{ socials.cv_pdf | relative_url }}" title="CV" aria-label="CV">
    <i class="fa-solid fa-file-pdf"></i>
  </a>
{% endif %}
